//定义常用变量
:root {
    --color-background: #f5f5f5;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #666666;
    --color-gray-btnBorder: #dcdfe6;
    --color-primary: #ee0a24;
    --color-checked: #ecf5ff;
    --color-stripe: #f5f5f5;
    --color-highLigh: #f86331;

    --font-size: 12px;
    --font-size-desc: 12px;
}
